<%= render "shared/header" %>
<div class='main'>
  <div class="question-contents">
    <span><%= link_to '質問する', "#", class: "question-botan" %></span>
    <%# image_tag 'camera.png' , size: '185x50' ,class: "purchase-btn-icon" %>
    </a>
  </div>
  <ul class="question-title">
      <li class='list'>
      <%= "質問タイトルリンク" %>    <%= "質問タイトルリンク" %>
      <%= "質問タイトルリンク" %>    <%= "質問タイトルリンク" %>
      <%= "質問タイトルリンク" %>    <%= "質問タイトルリンク" %>
      <%= "質問タイトルリンク" %>    <%= "質問タイトルリンク" %>
      <%= "質問タイトルリンク" %>    <%= "質問タイトルリンク" %>
      <%= "質問タイトルリンク" %>    <%= "質問タイトルリンク" %>
      <%= "質問タイトルリンク" %>    <%= "質問タイトルリンク" %>
      <%= "質問タイトルリンク" %>    <%= "質問タイトルリンク" %>
      </li>
  </ul>
  <ul class="answer-title">
      <li class='list'>
      <%= "回答タイトルリンク" %>    <%= "回答タイトルリンク" %>
      <%= "回答タイトルリンク" %>    <%= "回答タイトルリンク" %>
      <%= "回答タイトルリンク" %>    <%= "回答タイトルリンク" %>
      <%= "回答タイトルリンク" %>    <%= "回答タイトルリンク" %>
      </li>
    </ul>

</div>
<%= render "shared/footer" %>